<%= link_to "Back", @back_url %>

<h1>Genres</h1>

<p>You have <%= pluralize @genres.uniq.count, "genre" %>.</p>


<% @genres.uniq.each do |genre| %>
  <h3><%= link_to genre.name, genre %></h3>
<% end %>
