<%= link_to "Add New Genre", new_genre_path %>

<h1>Movie Genres</h1>

<p>Found <%= pluralize @genres.uniq.count, "genre" %>.</p>


<% @genres.uniq.each do |genre| %>
  <h3><%= link_to genre.name, genre %></h3>
<% end %>
