<%= link_to "Back", @back_url %>

<h1>Movies</h1>

<p>You have <%= pluralize @movies.count, "movie" %>.</p>

<% if @movies.present? %>
  <% @movies.each do |movie| %>
    <%= link_to image_tag(movie.cover, :class => "thumb", :alt => movie.title), movie %>
  <% end %>
<% end %>
