<%= link_to "Back", @back_url %>

<h1><%= @director.name %></h1>

<% if @director_mv.present? %>
  <h2>Movies</h2>

  <% @director_mv.each do |movie| %>
    <%= link_to image_tag(movie.cover, :class => "thumb", :alt => movie.title), movie  %>
  <% end %>
<% end %>
