<h1>The Movie Library Users</h1>

<p>Private information</p>

<p>Found <%= pluralize @users.count, "user" %>.</p>

<ul>
  <% @users.sort.each do |user| %>
  <li><%= user.name %>, <%= user.email %></li>
  <% end %>
</ul>
