<nav class="back">
  <%= link_to "Back", @back_url %>
  <%= link_to "Create Library", new_library_path %>
</nav>

<h1>My Movie Libraries</h1>

<p>You have <%= pluralize @libraries.count, "library" %>.</p>


<% @libraries.each do |library| %>
  <h3><%= link_to library.name, library %></h3>
<% end %>
