<h1>Welcome to Movie Library</h1>

<% if @current_user.present?  %>
  <h2>Hi <%= @current_user.name %>!</h2>
<% end %>

<p>Keep your movies all in one place.</p>
<p>Make your own libraries of movies.</p>
<p>Search your movies by actor, director or genre.</p>
<p>Or just ask what movie should you watch tonight?</p>
