<h1>Welcome to The Movie Library</h1>

<% if @current_user.present?  %>
  <h2>Hi <%= @current_user.name %>!</h2>
<% end %>

<p>Keep your movies all in one place.</p>
<p>Make your own libraries.</p>
<p>Search your libraries by actor, director or genre.</p>
<p>Or just ask what movie shall you watch tonight?</p>
