<h1>Movies found</h1>


<% unless @top5.nil? %>
  <ol>
  <% @top5.uniq.each do |movie|%>
    <li>
      <h4><%= link_to movie["Title"], "https://www.imdb.com/title/#{movie["imdbID"]}/" %></h4>

      <% if movie["Poster"].include? ("http") %>
        <%= image_tag movie["Poster"], :class => "thumb", :alt => movie["Title"] %>
      <% end %>

      <%= link_to "Add movie", "/movies/new/#{movie["imdbID"]}" %>

    </li>
  <% end %>

  </ol>
<% end %>
