<h1>Search for Movies</h1>

<form action="/result">

  <label>
    Movie Title:
    <input type="text" placeholder="Searching text" name="title">
  </label>

  <button type="submit">Get movie</button>

</form>
